$background-color: #16a34a;
$green-color: $background-color;
$text-color: #f8fafc;
$black: #1c1917;
$gray: #404040;
$yellow: #f59e0b;
$light-green: #a3e635;
$amber: #facc15;
$dark-green: #365314;
$slate: #374151;