@font-face {
  font-family: DIN;
  src: url('../assets/DIN-Regular.ttf');
  font-weight: 300;
}

@font-face {
  font-family: DIN;
  src: url('../assets/DIN-Light.ttf');
  font-weight: 200;
}

@font-face {
  font-family: DIN;
  src: url('../assets/DIN-Bold.ttf');
  font-weight: 600;
}

@font-face {
  font-family: DIN;
  src: url('../assets/DIN-Medium.ttf');
  font-weight: 400;
}

@import url('https://fonts.googleapis.com/css2?family=Kantumruy+Pro:wght@200;400;500;600;700&display=swap');

@import './variables.scss';

body {
  font-family: DIN;
  background-color: $background-color;
  
  ul {
    padding-left: 1rem;
  }
  div, p, a {
    font-weight: 200;
    font-size: 1.25rem;
    color: $text-color;
    margin: 0;
    padding: 0;
  }

  h1, h2{
    margin: 0;
  }
}

.khmer-text {
  font-family: 'Kantumruy Pro', sans-serif;
  font-weight: 400;
}

.bold {
  font-weight: 600;
}

.icon {
  width: 2rem;
  height: auto;
}